# Assign file content and end-of-line type
*.txt text

# Github Release source code archive contents; use export-ignore to drop files
"demo" export-ignore
".github/**" export-ignore
"tests" export-ignore