# Assign file content and end-of-line type
*.txt text

# Github Release source code zip file contents; use export-ignore to drop files
# Example => 
# ".github/**" export-ignore
# This would ignore .github directory
"docs/Images/**" export-ignore
".github/**" export-ignore
"tests/**" export-ignore